<h1>Good Eats, Bru</h1>
<p>Restaurant Name: <%= @place %></p>
<p>Recommended Order: <%= @recommendation %></p>

<a href="/rest">Favorite CT Restaurants</a> | <a href="/about">About Us</a> | <a href="/home">Return Home</a>