<h1>About me</h1>
<h2>Interests</h2>
<ul>
<li>Surfing</li>
<li>Backpacking</li>
<li>Motorcycles</li>
<li>Polo</li>
</ul>
 <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQk0mVTE7CP6qwMtVprplopCT6_RdRKA2qmV3ZVGSewM9exT8Xx">

<a href="/">Home</a>
<a href="/contact">Contact</a>