<h1>Contact Information</h1>
<h2>Ways to contact me</h2>
<ul>
<li><a href="https://www.facebook.com/81363271j94813">Facebook</a></li>
<li><a href="https://www.linkedin.com/profile/view?id=173895469&trk=nav_responsive_tab_profile_pic">LinkedIn</a></li>
<li>Email: Julian.Chernyk@gmail.com</li>
</ul>

<a href="/">Home</a>
<a href="/about">About</a>
