<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


<h1>Julian Chernyk's Personal Site</h1>
<p>My name is Julian. I'm from New York City (East Village). I just graduated from Yale. I've got 6 months off until I start my job so am looking forward to having a good time in Cape Town</p>
 <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/005/01a/2cf/039c00b.jpg" width=42>
 <a href="/about">More About Me</a>
 <a href="/contact">Contact</a>
