<style>
    h1 {
        text-align: center;
        color: white;
    }
    body {
        background: url(http://www.featurepics.com/FI/Thumb300/20130224/Brick-Wall-Background-2619933.jpg);
        background-size: cover;
        text-align: center;
    }
    p {
    	color: white;
    }
    a {
        color: white;
    }
</style>

<h1>Good Eats, Bru</h1>
<p>Restaurant Name: <%= @place %></p>
<p>Recommended Order: <%= @recommendation %></p>

<a href="/rest">Favorite CT Restaurants</a> | <a href="/about">About Us</a> | <a href="/home">Return Home</a> | <a href="https://www.uber.com/">Click for Uber.</a>
<br/><br/>
<img src="/images/food2.jpg" style="height:300px; width: 320px;">
<img src="/images/shak.jpg" style="height:300px; width: 320px;">
<img src="/images/ris.jpg" style="height:300px; width: 320px;">
<img src="/images/chickpea.jpg" style="height:300px; width: 320px;">